# Lines that start with '#' are comments.
*~
*.diff
*#
.classpath
.project
.settings
bin/.settings
.eclipse
pmd_report.html
target
patchprocess
derby.log
.idea
*.iml
out
gen
logs
build
nb-configuration.xml
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
